@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  padding: 24px;
}

.mobileSvg {
  display: none;
}

.mobilesvgwrapper {
  position: absolute;
  top: -110px;
}

img {
  width: 100%; /* Make the image take up 100% of the wrapper's width */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any space below the image */
}

.accordion {
  max-width: 350px;
  width: 100%;
  background-color: white;
}

.accordion > h1 {
  margin-bottom: 26px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 19px 0;
  border-bottom: 1px solid #e8e8ea;
}

.accordion-title {
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  border: none;
  background-image: url(./images/inactive.png);
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  padding-right: 30px;

  color: #4b4c5f;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion-title.active {
  color: #1e1f36;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: url(./images/active.png);
}

.accordion-content {
  display: none;
  color: #787887;
  font-family: "Kumbh Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.accordion-title:hover {
  color: #f47b56;
}

.accordion-content.show {
  display: block;
}

.product {
  max-width: 920px;
  width: 100%;
  min-height: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 65px 95px 80px 0;
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
}

@media (max-width: 768px) {
  .mobileSvg {
    display: block;
  }

  .mainSvg {
    display: none;
  }

  .accordion {
    max-width: 100%;
  }

  .accordion > h1 {
    text-align: center;
  }

  .product {
    position: relative;
    flex-direction: column;
    padding: 0 24px 48px 24px;
  }

  body {
    height: 200vh;
  }
}
